* {
    box-sizing: border-box;
    font-family: Georgia, serif;
}



.card {
    position: relative;
    top: 15px;
    left: 15px;
    background-color: #fff;
    width: 500px;
    border-radius: 8px;
    border-top-right-radius: 8px ;
    transition: transform 0.5s;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);

}

.card__img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.card__description {
    padding: 30px ;
    font-size: 1em;
    line-height: 1.2;
}

.card h3 {
    font-size: 1.5em;
}

body {
    background-color: lightgray;
}

.card__btn {
    border: 1px solid #20c520;
    padding: 8px 4px;
    border-radius: 4px;
    background-color: #19ac19;
    color: white;
    text-decoration: none;
    margin-left: 350px;
}

.card:hover {
    transform: scale(1.05);
}

/* .card:hover a {
    margin-left: 362px;
} */